<!DOCTYPE html>
<html>
<head>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/jquery-ui/jquery-ui.min.js"></script>
<script src="./css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
<script src="./js/member.js"></script>
<link rel="stylesheet" href="./css/member.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>회원가입성공 - </title>
</head>
<body>
	<div class="container">
		<ul class="topbar nav navbar-fixed-top row">
			<li class="active" id="1"><a class="col-sm-4"> <i class="fa fa-gavel" aria-hidden="true"></i>
					<h4>이용약관 동의</h4>
			</a></li>
			<li class="active" id="2"><a class="col-sm-4"> <i class="fa fa-id-card-o" aria-hidden="true"></i>
					<h4>회원정보입력</h4>
			</a></li>
			<li class="active" id="3"><a class="col-sm-4"> <i class="fa fa-handshake-o" aria-hidden="true"></i>
					<h4>회원가입완료</h4>
			</a></li>
		</ul>
		<hr/>
		<div class="jumbotron" >
		<h2>축))가입이 끝났습니다.</h2>
			<div class="col-md-12">
			    <div class="thumbnail">
			    <img src="./img/61695643_p0.jpg" style="width:100%">
			    </div>
			</div>
		</div>
	</div>

</body>
</html>