<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="ga.newspbn.mapper.ReplyMapper">
       	<!-- 부모 댓글 -->
       	<insert id="create">
       		<!-- <selectKey resultType="int" keyProperty="grp" order="BEFORE">
       			select IF(isnull(grp),100,Max(grp)+100) from tbl_reply       			
       		</selectKey> -->
			insert into tbl_reply (bnum, replytext, replyer)
			values (#{bnum}, #{replytext}, #{replyer})  			
    	</insert>   

	
		
		<!-- 목록 -->
    	<select id="listPage" resultType="ReplyVO">
			select * from tbl_reply
			where bnum=#{bnum}
			order by if(isNull(parent), rnum, parent) seq,  
			limit #{cri.pageStart}, #{cri.perPageNum}	
    	</select>

		<!-- 수정 -->
    	<update id="update">
			update tbl_reply set replytext = #{replytext} , updatedate=now()
			where rnum=#{rnum}    	
    	</update>
    	
    	<!-- 삭제 -->    	
    	<delete id="delete">
			delete from tbl_reply where rnum=#{rnum}    	
    	</delete>
   
		<!-- 댓글수(페이징용) -->
    	<select id="count" resultType="int">
    	<!-- 트랜잭션이 걸리는 시점부터는 tbl_board만을 이용해서 처리해야한다 -->
			select count(bnum) from tbl_reply where bnum=#{bnum}
			<!-- update tbl_board set replycnt = 
				(select count(rnum)
					from
					tbl_reply
					where bnum = tbl_board.bnum) where bnum > 0; -->
			
    	</select>
    	
    	<!-- 댓글수(게시판표시용) -->
    	<select id="getBnum" resultType="int">
    		select bnum from tbl_reply where rnum = #{rnum}    	
    	</select> 	
    </mapper>